@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');


*{
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-family: 'Lemonada', cursive;
    margin: 0;
    padding: 0;
}

body{
    background: #cccccc;

}

header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: sticky;
    background: linear-gradient(90deg, pink,purple);
    box-shadow: 0px 0px 5px 0px;
}

header .logo{
    color: #000000;
}


header .button-container button{
    width: fit-content;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: linear-gradient(45deg, powderblue, cadetblue, #ffffff);
    color: #000000;
    border: none;
}
/* 
section{
    
} */
section article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contain{
    width: 530px;
    height: 280px;
    border-bottom: 2px solid;
    display: flex;
    padding: 20px;
}
.img{
    width: 200px;
    height: 300;
}
.img img{
    width: 200px;
    height: 200px;
}

.img button{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.contain .detail{
    text-align: center;

}

.fixed{
    position: fixed;
    min-height: 100vh;
    max-height: fit-content;
    width: 100%;
    border: 1px solid;
    top: 12%;
    background: #444444;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    display: none;
}

.basket{
    left: 75%;
    top: 46%;
    margin-top: 275px;
    position: fixed;
    margin-left: 245px;
}
.basket .basket-show{
    background: url(basket.png);
    width: 55px;
    height: 55px;
}

 
.checkout{
    position: ;
    top: 0;
    color: #000000;
    display: flex;
    /* width: 300px; */
    /* border: 1px solid; */
    height: 65px;
    align-items: center;

}
.checkout img{
    width: 50px;
    height: 50px;
    
}

.added-cart{
    height: fit-content;
    /* border: 1px solid; */
    position: relative;
  
}

.added-cart h5{
    border-bottom: 2px solid;
    text-align: center;
    height: 35px;
}

.items{
    height: fit-content;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.show{
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    animation: show .9s;
    overflow: scroll;
    animation-fill-mode: forwards;
    /* animation-direction: alternate-reverse; */
    padding-bottom: 50px;
    background: #444444;
}

.hide{
    display: none;
    animation: hide .6s forwards;
    overflow: hidden;
}

.image{
    width: 100px;
    height: 150px;
}

.font{
    text-align: center;
    width: 155px;
    height: 150px;
    font-size: 14px;
}
 
@keyframes show{
    0%{
 
        height: 0px;
        width: 0px;
    }
    100%{
        min-height: 100vh;
        max-height: fit-content;
        width: 100%;
        display: block;
        background: #ffffff;
         
    }
}

@keyframes hide {
    0%{
        height: 100%;
        width: 100%;
    }
    100%{
        height: 0;
        width: 0;
    }
}

.delete{
    background: red;
    color: #ffffff;
    height: 35px;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    line-height: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}